body {
    form {
        background-color: rgb(233, 213, 213);
        margin: auto;
        div {
            h1 {
            background-color: gray;
        }
            #note {
                color: rgb(163, 159, 159);
                font-size:x-small;
            }
            span {
                color: gray;
            }
        }
    }
}